include LICENSE.txt
include README.md
recursive-include cmsplugin_instagram/locale *
recursive-include cmsplugin_instagram/templates *
recursive-include cmsplugin_instagram/static *
recursive-exclude * *.pyc
